.header {
    text-align: center;
}

#open-games {
    width: 600px;
    margin: 0 auto;
}

#inner-not-your-turn {
    position: relative;
    top: 0;
    left: 0;
    margin: 130px auto;
    vertical-align: middle;

}

#not-your-turn {
    position: absolute;
    width: 380px;
    height: 300px;
    z-index: 1000;
    background-color:rgba(255,255,255,0.4);
}

.board {
    width: 301px;
    margin: 0 auto !important;
    float: none !important;
}

.board tr {
    height: 30px;
}


.board .water {
    background-color: #EBF4FA;
}

.board .ship {
    background-color: #6C7B8B;
}

.board .ship-hit {
    background-color: #FF476F;
}

.water-hit {
    background-color: #AEDCFF;
}

.water-hit {
    background-color: #AEDCFF;
}

.board .unknown {
    background-color: #F4F4F4;
}

.board .unknown:hover.clickable {
    background-color: #999999;
}

.board .clickable:hover {
    cursor: pointer;
}

#vs {
    font-size: 2em;
}

#message {
    margin-top: 80px;
    height: 100px;
}

#messages-list {
    margin-top: 10px;
    font-size: 0.7em;
}
